.App {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}
.Navbar {
  display: flex;
  position: relative;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: -14px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgb(254, 124, 124);
}

.Navbarlinks {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.Navbarlink:hover {
  text-decoration: underline;
}

.navbartoggle {
  display: none;
}

.Navbarlink {
  text-decoration: none;
  color: black;
}

.Navbarlinks img {
  border-radius: 50%;
}

.Navbarlinks button {
  background: none;
  border: none;

}

.Form {
  background-color: rgb(251, 69, 69);
  display: wrap;
  padding: 30px;
  margin-left: 20%;
  margin-top: 7%;
  margin-right: 20%;
  border-radius: 20px;
  width: 60%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  align-items: center;
  justify-content: center;
}

.Form input {
  padding: 10PX;
  position: relative;
  width: 20%;
}

.Form textarea {
  padding: 10px;
  width: 70%;
  align-items: left;
  position: relative;
}

.formButton {
  border-radius: 20px;
  background-color: rgba(255, 61, 61, 0.941);
}

.postcon {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  width: 30%;

}
.Post {
  text-align: left;
  padding: 15px;
  display: block;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.Post button {
  background-color: rgb(254, 124, 124);
  color: rgb(0, 0, 0);
}
.Post h1 {
  color: rgb(254, 124, 124);
}

.postUserName {
  color: rgb(203, 114, 203);
}

.Footer {
  background-color: rgb(254, 124, 124);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin-bottom: -10px;
  margin-top: auto;
  padding: 10px;
  margin-right: -14px;
  margin-left: -10px;
  text-align: left;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.Footertag {
  display: flex;
}

.Logincon {
  display: flex;
  justify-content: center;
}

.Loginbox {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-top: 14%;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
}

.Loginbox p {
  padding: 10px;
  font-size: large;
}

.Loginbox button {
  color: rgb(8, 101, 17);
}

#particles canvas {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media screen and (max-width:600px) {
  .navbartoggle {
    display: inline;
  }

  .Navbarlinks {
    display: none;
  }

  .Logincon {
    margin-top: 25%;
  }

  .postcon {
    display: inline-block;
    width: 40%;
    justify-content: center;
  }
}
.sidenavbar{
  height: 100%;
  width: 100%;
  background-color:aquamarine;
}